html,
body
{
    font-family: 'Roboto', Arial, sans-serif;

    min-width: 900px;
}
.button
{
    display: inline-block;

    box-sizing: border-box;
    padding-top: .5em;
    padding-right: 1.5em;
    padding-bottom: .5em;
    padding-left: 1.5em;

    text-decoration: none;

    color: #fff;
    border-radius: 2em;
    background-image: linear-gradient(#f26843, #e54a35);
}
.background__switcher
{
    display: none;
}
.background__switcher--green:checked ~ .page
{
    background: #849d8f url('../img/icecream-bg-1.jpg') no-repeat center top;
}
.background__switcher--blue:checked ~ .page
{
    background: #8996a6 url('../img/icecream-bg-2.jpg') no-repeat center top;
}
.background__switcher--brown:checked ~ .page
{
    background: #9d8b84 url('../img/icecream-bg-3.jpg') no-repeat center top;
}
.background__switcher--green:checked ~ .page .background__button--green
{
    background: white;
}
.background__switcher--blue:checked ~ .page .background__button--blue
{
    background: white;
}
.background__switcher--brown:checked ~ .page .background__button--brown
{
    background: white;
}
.background__switcher--green:checked ~ .page .background__headline--green
{
    display: block;
}
.background__switcher--blue:checked ~ .page .background__headline--blue
{
    display: block;
}
.background__switcher--brown:checked ~ .page .background__headline--brown
{
    display: block;
}
.background__buttons
{
    position: absolute;
    top: 555px;
}
.background__button
{
    display: inline-block;

    width: 15px;
    height: 15px;

    cursor: pointer;

    border: 1px solid #fff;
}
.background__headline
{
    font-size: 60px;
    font-weight: bold;

    position: absolute;
    top: 400px;
    left: 50%;

    display: none;

    width: 680px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;

    color: #fff;
}
.background__buy-button
{
    font-size: 32px;
    font-weight: bold;
}
.container
{
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding-right: 2.3%;
    padding-left: 2.3%;
}
.header
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.header__logo
{
    margin-right: 20px;
    margin-left: 0;
}
.nav
{
    margin-right: auto;
}
.nav__link
{
    color: #fff;
}
.user-block__link
{
    color: #fff;
}
.contact-us
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    margin-bottom: 530px;

    color: #fff;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
            align-items: flex-end;
}
