.button {
  box-sizing: border-box;
  display: inline-block;
  // border-radius: 50%;
  padding-top: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  // height: 4em;
  // border-radius: 50px;
  border-radius: 2em;
  color: @COLOR_WHITE;
  background-image: linear-gradient(#f26843, #e54a35);
  text-decoration: none;

}
